In [1]:
l1=[]

In [14]:
list1 = []
print("enter the range:")
n = int(input())
for i in range(n):
    print("enter the value")
    list1.append(int(input()))
print("sum of all entered values:")
print(sum(list1))

enter the range:
3
enter the value
1
enter the value
2
enter the value
3
sum of all entered values:
6

In [15]:
x=23,34,45,67
print(x)
print(type(x))

(23, 34, 45, 67)
<class 'tuple'>

In [16]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

# Dictonary

In [18]:
dict1={"name":"tejesh","course":"python","address":"hyd"}
dict1["course"]

'python'

In [19]:
#replace
dict1["course"]="c programming"
print(dict1)

{'name': 'tejesh', 'course': 'c programming', 'address': 'hyd'}

In [20]:
#adding entry
dict1["college"]="GItAM"
print(dict1)

{'name': 'tejesh', 'course': 'c programming', 'address': 'hyd', 'college': 'GItAM'}

In [21]:
#Removing entry
del dict1["address"]
print(dict1)

{'name': 'tejesh', 'course': 'c programming', 'college': 'GItAM'}

In [23]:
#Removing entry
del dict1["course"]
print(dict1)

{'name': 'tejesh', 'college': 'GItAM'}

In [ ]:
def square(x):
    return x*x